<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <p>Welcome to wonderful world of watches a website were you and your friends can share your watch obsessions.</p>
</main>

<%- include('./partials/footer') %>
